@tailwind base;
@tailwind components;
@tailwind utilities;

/* [Tag.tsx] component styles */
.tag-no-selected {
    background-color: #dfe6f0;
    color: #3757e2;
}

.tag-selected {
    background-color: #3757e2;
    color: #dfe6f0;
}

.status-active {
    border: 1px solid transparent;
    background-color: #e7e982c5;
    color: #27220e;
}

.status-no-active {
    border: 1px solid #27220e;
    color: #27220e;
}